<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Root Menu -->
    <menuitem id="menu_adt_captura_root"
              name="Gestión de Capturas"
              sequence="10"
              groups="adt_captura.group_captura_capturador"/>

    <menuitem id="menu_adt_captura_mora"
              name="Clientes en Mora"
              parent="menu_adt_captura_root"
              action="action_adt_captura_mora"
              sequence="10"
              groups="adt_captura.group_captura_capturador"/>

    <menuitem id="menu_adt_captura_prioridad_urgente"
              name="Capturas Urgentes"
              parent="menu_adt_captura_root"
              action="action_adt_captura_prioridad_urgente"
              sequence="20"
              groups="adt_captura.group_captura_capturador"/>

    <menuitem id="menu_adt_captura_capturados"
              name="Capturados"
              parent="menu_adt_captura_root"
              sequence="25"
              groups="adt_captura.group_captura_capturador"/>

    <menuitem id="menu_adt_captura_inmediatas"
              name="Capturas Inmediatas"
              parent="menu_adt_captura_capturados"
              action="action_adt_captura_inmediata"
              sequence="10"
              groups="adt_captura.group_captura_capturador"/>

    <menuitem id="menu_adt_captura_compromisos"
              name="Compromisos de Pago"
              parent="menu_adt_captura_capturados"
              action="action_adt_captura_compromiso"
              sequence="20"
              groups="adt_captura.group_captura_capturador"/>

    <menuitem id="menu_adt_captura_historial"
              name="Historial"
              parent="menu_adt_captura_root"
              action="action_adt_captura_historial"
              sequence="50"
              groups="adt_captura.group_captura_capturador"/>

    <menuitem id="menu_adt_captura_dashboard"
              name="Dashboard"
              parent="menu_adt_captura_root"
              action="action_adt_captura_dashboard"
              sequence="60"
              groups="adt_captura.group_captura_capturador"/>

    <menuitem id="menu_adt_captura_disolucion_contrato"
              name="Disolución de Contrato"
              parent="menu_adt_captura_capturados"
              action="action_adt_captura_disolucion_contrato"
              sequence="30"
              groups="adt_captura.group_captura_capturador"/>

</odoo>
